.link.header__wrapper {
  color: #fff;
  display: flex;
  align-items: center;

  &:hover {
    color: hsla(0, 0%, 100%, 0.6);

    .header__logo {
      filter: brightness(70%) invert(1);
    }
  }

  &.MOJ {
    color: #fff;
  }
}

h6.header__title {
  display: inline-block;
  line-height: 26px;
  font-family: inherit;
}

.header__logo {
  height: 60px;
  width: auto;

  display: inline-block;
  margin-right: 8px;
  margin-left: -30px;
}

.header__entity {
  max-width: 100%;
  max-height: 100%;
  display: inline-block;
  position: absolute;

  &.FEWA,
  &.CentralBank,
  &.MOJ,
  &.ABD,
  &.MPD,
  &.ARRA {
    width: auto;
    right: 0;
  }
}

.header__links {
  display:flex;
  @media screen and (min-width: 1366px) {
    margin-left: 200px;
  }
}

.header__link {
  line-height: 1em;
  text-decoration: none;
  margin: 20px;
  color: white;
  padding: 14px 25px;
  text-decoration: none;
  font-family: Roboto, Helvetica, Arial, sans-serif;

  &.MOJ {
    color: #fff;
  }
}

.header__link:hover {
  color: #fff;
}

.header__wrapper {
  display: flex;
    flex-flow: row wrap
}