.link.header__wrapper {
  color: #fff;
  display: flex;
  align-items: center;

  &:hover {
    color: hsla(0, 0%, 100%, 0.6);

    .header__logo {
      filter: brightness(70%) invert(1);
    }
  }

  &.CentralBank {
    color: #000;
  }
}

h6.header__title {
  display: inline-block;
  line-height: 26px;
  font-family: inherit;
}

.header__logo {
  height: 60px;
  width: auto;
 
  display: inline-block;
  margin-right: 8px;
  margin-left: -30px;


  &.CentralBank { 
    filter: brightness(70%) invert(1);
  }
}

.header__entity {
  max-width: 100%;
  max-height: 100%;
  display: inline-block;
  position: absolute;


  &.ARRA {
    height: 80px;
    width: 250px;
    right: 20px;

  }

  &.MPD {
    height: 60px;
    width: 180px;  right: 20px;

  }

  &.FEWA {
    width: auto;
    right: 0;

  }

  &.MOJ {
    width: auto;
    right: 0;

  }

  &.ABD {
    height: 50px;
    width: 150px;
    right: 20px;

  }

  &.CentralBank {
    width: auto;
    right: 0;
  }
}

.header__links {
  display: inline-block;
  padding: 0 9%;
  text-align: center; 

}

.header__link {
  line-height: 1em;
  text-decoration: none;
  margin: 20px;
  color: white;
  padding: 14px 25px;
  text-decoration: none;
  font-family: Roboto,Helvetica,Arial,sans-serif;

  &.CentralBank {
    color: #000;
  }

}

.header__link:hover {
  color: black;
}

