.link.header__wrapper {
  color: #fff;
  display: flex;
  align-items: center;

  &:hover {
    color: hsla(0, 0%, 100%, 0.6);

    .header__logo {
      filter: brightness(70%) invert(1);
    }
  }

  &.FEWA {
    color: #000;
  }
}

h6.header__title {
  display: inline-block;
  line-height: 26px;
}

.header__logo {
  height: 25px;
  width: 25px;
  filter: brightness(0) invert(1);
  display: inline-block;
  margin-right: 8px;

  &.FEWA {
    filter: none;
  }
}

.header__entity {
  max-width: 100%;
  max-height: 100%;
  display: inline-block;
  right: 20px;
  position: absolute;

  &.RERA {
    height: 80px;
    width: 250px;
  }

  &.MPD {
    height: 60px;
    width: 180px;
  }

  &.FEWA {
    height: 60px;
    width: 190px;
  }

  &.MOJ {
    width: auto;
  }

  &.ABD {
    height: 50px;
    width: 150px;
  }

  &.ENBD {
    height: 50px;
    width: 150px;
  }
}
