.new__network__wrapper {
  .new__newtwork__accounts__info {
    max-width: 820px;
    margin: 24px auto;
  }

  .actions__button--delete,
  .actions__button--edit {
    display: inline-block;
    width: 24px;
    height: 20px;
    margin: 0 4px;
    color: grey;
    border-radius: 6px;
    background: transparent;
    box-shadow: none;

    &:hover {
      color: black;
      background: transparent;
    }

    &:disabled {
      background: transparent;
      color: #e0e0e0;
      cursor: not-allowed;
    }

    .actions__button--save {
      width: 70px;
    }
  }
  .account__error__field.error {
    border-bottom: 1px solid red;
  }
}
